<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Người yêu</title>
</head>
<body>

<h1>Add new lover</h1>
<form th:action="@{/lab-1/nguoi-yeu}" method="post">
    Nickname: <input type="text" name="nickName" required /><br/>
    Năm sinh: <input type="number" name="namSinh" required /><br/>
    <button type="submit">Add</button>
</form>
<h1>Lover list</h1>
<ul>
    <li th:if="${lovers.size() == 0}">không có</li>
    <li th:each="ny : ${lovers}">
        <span th:text="${ny.nickName}"></span> -
        <span th:text="${ny.namSinh}"></span>
    </li>
</ul>
</body>
</html>
