<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thông tin chi tiết</title>
</head>
<body>

Id: <span th:text="${chitiet.id}"></span> <br/>
Name: <span th:text="${chitiet.name}"></span> <br/>
Description: <span th:text="${chitiet.description}"></span> <br/>
CreatedAt: <span th:text="${chitiet.createdAt}"></span> <br/>
UpdatedAt: <span th:text="${chitiet.updatedAt}"></span> <br/>
Status: <span th:text="${chitiet.status}"></span> <br/>
Note: <span th:text="${chitiet.note}"></span> <br/>
</body>
</html>