<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Môn học</title>
</head>
<body>
<h1>Môn học</h1>

<form th:action="@{/lab34/bai-1/add}" method="post" onsubmit="return validateForm()">
    <label>Mã môn:</label>
    <input type="text" id="maMon" name="maMon" placeholder="Mã môn học"><br>

    <label>Tên môn:</label>
    <input type="text" id="tenMon" name="tenMon" placeholder="Tên môn học"><br>

    <label>Số tín chỉ:</label>
    <input type="number" id="soTinChi" name="soTinChi" placeholder="Số tín chỉ"><br>

    <label>Chuyên ngành:</label>
    <select name="chuyenNghanh">
        <option value="Digital Marketing">Digital Marketing</option>
        <option value="Công Nghệ Thông Tin">Công Nghệ Thông Tin</option>
        <option value="Thiết kế đồ họa">Thiết kế đồ họa</option>
        <option value="Ô tô cơ khí">Ô tô cơ khí</option>
    </select><br>

    <label>Giảng viên:</label><br>
    <input type="checkbox" name="giangVien" value="MinhDQ8"> MinhDQ8
    <input type="checkbox" name="giangVien" value="DungNA29"> DungNA29
    <input type="checkbox" name="giangVien" value="TienNH21"> TienNH21
    <input type="checkbox" name="giangVien" value="NguyenVV4"> NguyenVV4
    <br>

    <label>Bắt buộc:</label><br>
    <input type="radio" checked name="batBuoc" value="true"> Có
    <input type="radio" name="batBuoc" value="false"> Không
    <br>

    <button type="submit">Lưu</button>
</form>

<hr>

<table border="1">
    <tr>
        <th>Mã Môn</th>
        <th>Tên Môn</th>
        <th>Số Tín Chỉ</th>
        <th>Chuyên Nghành</th>
        <th>Giảng Viên</th>
        <th>Bắt Buộc</th>
        <th>Hành Động</th>
    </tr>

    <tr th:each="mh : ${DSMonHoc}">
        <td th:text="${mh.maMon}"></td>
        <td th:text="${mh.tenMon}"></td>
        <td th:text="${mh.soTinChi}"></td>
        <td th:text="${mh.chuyenNghanh}"></td>
        <td th:text="${mh.giangVien != null ? #strings.listJoin(mh.giangVien, ', ') : ''}"></td>
        <td th:text="${mh.batBuoc} ? 'Có' : 'Không'"></td>
        <td>
            <a th:href="@{'/lab34/bai-1/delete/' + ${mh.maMon}}">Xóa</a>
            <a th:href="@{'/lab34/bai-1/edit/' + ${mh.maMon}}">Chi tiết</a>
        </td>
    </tr>
</table>

</body>

<script>
    function validateForm() {
        let maMon = document.getElementById("maMon").value.trim();
        let tenMon = document.getElementById("tenMon").value.trim();
        let soTinChi = document.getElementById("soTinChi").value.trim();
        let giangVienChecked = document.querySelectorAll('input[name="giangVien"]:checked');

        if (maMon === "" ||  maMon === null ||  tenMon === "" || tenMon === null || soTinChi === "" || soTinChi === null ) {
            alert("Please fill in all fields.");
            return false;
        }
//check ten ko dc nhap so
        let nameRegex = /^[A-Za-z\s]+$/;
        if (!nameRegex.test(tenMon)) {
            alert("Tên môn không được chứa số hoặc ký tự đặc biệt.");
            return false;
        }
        if (isNaN(soTinChi) || soTinChi <= 0) {
            alert("Số tín chỉ must be a positive number.");
            return false;
        }
        if (giangVienChecked.length === 0) {
            alert("Please select at least one Giảng viên.");
            return false;
        }
        return true;
    }
</script>
</html>
