<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospital Management - Main Menu</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-4">
    <h2>Hospital Management - Main Menu</h2>
    <ul class="list-group">
        <li class="list-group-item"><a href="/appointments">Appointments</a></li>
        <li class="list-group-item"><a href="/clinics">Clinics</a></li>
        <li class="list-group-item"><a href="/departments">Departments</a></li>
        <li class="list-group-item"><a href="/doctors">Doctors</a></li>
        <li class="list-group-item"><a href="/medicalrecords">Medical Records</a></li>
        <li class="list-group-item"><a href="/medicines">Medicines</a></li>
        <li class="list-group-item"><a href="/patients">Patients</a></li>
        <li class="list-group-item"><a href="/prescriptions">Prescriptions</a></li>
        <li class="list-group-item"><a href="/specialties">Specialties</a></li>
        <li class="list-group-item"><a href="/users">Users</a></li>
    </ul>
</div>
</body>
</html>

