<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin</title>
</head>
<body>
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <ul>
        <li>Username: <b th:text="${#authentication.name}"></b></li>
        <li>Roles: <b th:text="${#authentication.authorities}"></b></li>
        <li><a href="/logout">Sign out</a></li>
        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a href="#">Go to admin page</a>
        </li>
    </ul>
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <ul>
        <li>Bạn chưa đăng nhập</li>
    </ul>

</div>
</body>
</html>