<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Đơn đăng ký học lại</h1>
<form action="" method="post">
    <p>
        MSSV: <input type="text" name="studentCode">
    </p>
    <p>
        Môn học:
        <select name="subject">
            <option value="SOF3012">Java 4</option>
            <option value="SOF3022">Java 5</option>
            <option value="SOF3062">Java 6</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Đăng Ký">
    </p>
</form>
</body>
</html>