<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Cập nhật thông tin</h1>

<form th:action="@{/xe/update}" th:object="${xe}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Mã xe:</label>
    <input type="text" th:field="*{maXe}" required>
<br>
    <label>Tên xe:</label>
    <input type="text" th:field="*{tenXe}" required>
    <br>
    <label>Giá:</label>
    <input type="number" th:field="*{gia}" required>
    <br>
    <label>Số chỗ ngồi:</label>
    <input type="number" th:field="*{soChoNgoi}" required>
    <br>
    <label>Mã loại xe:</label>
    <select th:field="*{idLoaiXe.id}">
        <option th:each="lx : ${listLoaiXe}" th:value="${lx.id}" th:text="${lx.maLoaiXe}"></option>
    </select><br>
    <button type="submit">UPDATE</button>
</form>

<br>
<a href="/xe/hien-thi">← Quay lại danh sách</a>

</body>
</html>
